body{
  background-color: #779ECB;
}
.centre {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.inputBox {
  border: 2px  solid;
  border-radius: 5px;
  width: 200px;
  height: 30px;
  display: flex;
  justify-content: flex-end;
}

.input{
  background-color: fuchsia;
}

.buttons {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 5px;
  box-shadow: 0 0 15px rgba(0, 255, 183, 0.5);
}